@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,300&family=Playfair+Display:wght@900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    color: #393939;
}

b {
    font-weight: bold;
}

a {
    text-decoration: underline;
}
